body{
    font-family: Arial, sans-serif;
    background: linear-gradient(to right,#141E30,#243B55);
    color:white;
    text-align:center;
    padding:40px;
}

h2{
    margin-bottom:20px;
}

form{
    background:white;
    color:black;
    width:350px;
    margin:auto;
    padding:30px;
    border-radius:10px;
    box-shadow:0px 0px 15px rgba(0,0,0,0.4);
}

input,select{
    width:90%;
    padding:8px;
    margin:8px;
    border-radius:5px;
    border:1px solid gray;
}

button{
    background:#4CAF50;
    color:white;
    border:none;
    padding:10px 20px;
    border-radius:5px;
    cursor:pointer;
}

button:hover{
    background:#45a049;
}

.dashboard-box{
    background:white;
    color:black;
    padding:30px;
    border-radius:10px;
    width:400px;
    margin:auto;
}